* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: transparent;
    color: white;
}

header img {
    margin: 0px 0px 0px 0px;
}

.links {
    display: flex;
    gap: 10px;
}

.links img {
    width: 30px;
    height: 30px;
    border: 1px solid white;
}

/* Navigation */
.main-nav {
    background-color: #2d5b8f;
    display: flex;
    justify-content: center;
}

.nav-item {
    color: white;
    padding: 12px 25px;
    display: inline-block;
    background-color: #103689;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #5a8bb7;
    text-decoration: none;
}

/* Pag principal */
.container {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 200px 1fr 220px;
    gap: 15px;
    padding: 0 20px;
}

.box {
    background-color: white;
    border: 1px solid #ccc;
    margin: 5px 5px 5px 5px;
}
/*-- ------------------------------------------------------------------------- -->
/* Elementos principales */
.sidebar-left-content {
    grid-column: 1;
    background-color: rgb(235, 235, 235);
    border: 1px solid #ccc;
}
.center-content {
    grid-column: 2;
    background-color: rgb(235, 235, 235);
    border: 1px solid #ccc;
}
.sidebar-right-content {
    grid-column: 3;
    background-color: rgb(235, 235, 235);
    border: 1px solid #ccc;
}

.page-title {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: normal;
}


.center-content h3 {
    color: #333;
    font-size: 16px;
}

.noticia {
    display: flex;
    flex-direction: row;
}

.noticia h4 {
    color: #222;
    font-size: 20px;
}

.frame {
    color: black;
}